<div class="banner">
  <app-container>
    <h2 class="title">Про стоматологію</h2>
  </app-container>
</div>

<app-container>
  <section class="accommodations">
    <div class="circle" id="aboutUs"></div>

    <div class="accommodations__container">
      <div class="accommodations__title">Ми займаємось</div>
      <ul class="accommodations__list">
        <li class="accommodations__item">протезування;</li>
        <li class="accommodations__item">гігієна порожнини рота;</li>
        <li class="accommodations__item">діагностика і профілактика стоматологічних захворювань;</li>
        <li class="accommodations__item">видалення зубного каменю і нальоту;</li>
        <li class="accommodations__item">лікування карієсу та його ускладнень;</li>
        <li class="accommodations__item">реставрація.</li>
      </ul>
      <div class="accommodations__advantages">
        <p>*Лікування проводиться під обезболенням. </p>
        <p>**Гарантуємо індивідуальний підхід до кожного пацієнта, доступні ціни, та систему знижок.</p>
      </div>
    </div>
  </section>
</app-container>
