<app-container>
  <h2 class="title">Наш спеціаліст</h2>
  <div class="content">
    <div class="decorative-circle"></div>
    <div class="card">
      <div class="photo">
        <img src="assets/images/vrach-stomatolog.jpg" alt="Стоматолог Усатий">
      </div>
      <p class="profession">Лікар стоматолог</p>
      <p class="name">Усатий Едуард Анатолійович</p>

<!--      <span class="more">Дізнатись більше &ndash;&gt;</span>-->
    </div>
    <div class="info">
      <div class="text">
        Спеціалізація: Лікар-стоматолог<br>
        Досвід роботи: 30 років<br>
        Безперервний розвиток, турботливе ставлення до <br>
        кожного пацієнта та відданість своїй справі турботливе <br>
        ставлення до кожного пацієнта - головні постулати в роботі лікаря.<br>
        Завжди може знайти потрібні слова, приділити достатньо часу та просто й зрозуміло все пояснити.<br>
      </div>
      <div class="achievement">
        <span>> 30 років досвіду</span>
        <span>> 3000  клієнтів</span>
      </div>
      <span class="credo">“Прикладати максимум зусиль для того, щоб отримати максимум результату.”</span>
    </div>
  </div>


<!--  <app-make-appointment-form></app-make-appointment-form>-->
</app-container>
