<app-container>
  <footer class="footer">
    <app-logo></app-logo>

    <div class="contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="phone" href="tel:+380996348974"></a>
        </li>
        <li class="contacts__item">
          <a class="whatsapp" href="https://wa.me/+380996348974"></a>
        </li>
        <li class="contacts__item">
          <a class="facebook" href="https://www.facebook.com/usatuj.eduard.5"></a>
        </li>
        <li class="contacts__item">
          <a class="messenger" href="https://m.me/usatuj.eduard.5"></a>
        </li>
        <li class="contacts__item">
          <div class="address">
            <span>м. Хотин, вулиця Шевченка, 59т</span>
            <span>+380 99 634 89 74</span>
          </div>
        </li>
      </ul>
    </div>
  </footer>
</app-container>
